/* app css stylesheet */

body {
  background: -webkit-linear-gradient(white, #bbd4b4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #bbd4b4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #bbd4b4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #bbd4b4); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu {
  list-style: none;
  border-bottom: 0.05em solid #bbd4b4;
  color: #4d6059;
  padding: 1% 10%;
  text-align: center;
  font-size: 16px;
}
.menuOut {
  color: #FFFFFF;
  background-color: #777777;
  padding: 1% 9%;
  text-align: center;
  font-size: 16px;
}

.content {
  width: 50%;
  margin: 0 auto 0 auto;
  border: none;
  background-color: #FFFFFF;
  padding: 1%;
  padding-bottom: 3%;
  overflow: hidden;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: cursive;
  padding-bottom: .3em;
  /*font-family: "Courier New", Courier, monospace;*/
}

button {
    background-color: #bbd4b4; /* teal */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
